<mat-card>
  <h1>{{formType}}</h1>
  <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="gradeMath"
                [(ngModel)] = "gradeMath"
                name = "gradeMath">
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="gradePsych"
                    [(ngModel)] = "gradePsych"
                    name = "gradePsych">
        </mat-form-field>
      </p>  
      <p>
        <mat-form-field>
                <input 
                    matInput placeholder="tuition"
                    [(ngModel)] = "tuition"
                    name = "tuition">
        </mat-form-field>
      </p>   
      <div >
        <button mat-raised-button color="primary"
        (click)= "updateParent()">
            {{formType}}
        </button>
        <button mat-raised-button  
        (click)= "tellParentToClose()">
        Cancel
      </button> 
    </div>


          
      </div>
    </form>

    </mat-card>
