<studentform *ngIf = "addStudentFormOpen"
(update) = "add($event)"
(closeEdit) = "addStudentFormOpen = false"
[formType] = "'Add Student'">    >    
</studentform>

<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addStudentFormOpen = !addStudentFormOpen"
>
Add Student
</button>      
</div>


  
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students$ | async;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{student.gradeMath}}
        </mat-panel-title>
        <mat-panel-description>
          {{student.gradePsych}}
        </mat-panel-description>
        <mat-panel-description>
             
            <label id="example-radio-group-label"> tuition complete:</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteTuition">
              <mat-radio-button class="example-radio-button" *ngFor="let tuition of tuitions" [value]="tuition">
                {{tuition}}
              </mat-radio-button>
              <button mat-raised-button color="primary">Predict</button>
            </mat-radio-group>

        </mat-panel-description>

        <button mat-raised-button
        color = "warn"
        (click) = "deleteStudent(student.id)">
        Delete
        </button>    
      </mat-expansion-panel-header>
      <button mat-raised-button
      color = "primary"
      (click) = "editstate[i] = !editstate[i]">      Edit
    </button> 
      <studentform
      [gradeMath] = "student.gradeMath"
      [gradePsych] = "student.gradePsych"
      [tuition] = "student.tuition"
      [hidden] = "!editstate[i]"
      [formType] = "'Edit book'"
      [id] = "student.id"
      (update) = "update($event);editstate[i] = !editstate[i]"      (closeEdit) = "editstate[i] = !editstate[i]">
    </studentform>

    </mat-expansion-panel>
  </mat-accordion>
  
