.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  mat-panel-description{
    text-align: left;
    width:400px;
}

mat-panel-title{
    width:400px;
}

example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.green {
    color:green;
  }
  .red {
    color:red;
  } 
  